$white: #fff;
$gray: #878787;
$silver: #f6f6f6;
$light-grey: #e7e7e8;
$peach: #fd7b5c;
$light-peach: rgba(253, 123, 92, 0.1);
$dark-purple: #2F3452;
$dark-blue: #111315;

$border: 1px solid $light-grey;
